# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=ahm_mart_db

# Server Configuration
NODE_ENV=development
APP_HOST=localhost
APP_PORT=5000
API_VERSION=v1

# Logging
LOG_LEVEL=info

#Secrets
EXPRESS_SESSION_SECRET= 'Th!s!s@$ession$eCr3T'
TOKEN_SECRET_KEY='$ecretKeyF0rJ$0nWebToken'

# Directories
LOG_DIR='logs'
UPLOADS_DIR='uploads'